@charset "UTF-8" ;

/* 共通
-------------------- */
:root {
    --testColor:#df9ba8;
}
html {
    font-size: 100%;
}
body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
    line-height: 26px;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    max-width: 100%;
}

/* レイアウト */
.align-center {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

/* 見出し */
.section-title {
    line-height: 35px;
    font-size: 28px;
    border-bottom: thick;
    border-style: solid;
}
.content-title {
    line-height: 33px;
    font-size: 25px;
}

/* header
-------------------- */
.header-top {
    display: flex;
    justify-content: space-between;
}
.logo {

    line-height: 36px;
    font-size: 30px;
}
.contact-btn {
    border-width: medium;
    border-style: solid;
}
.main-nav {
    display: flex;
    justify-content: space-around;
}
a:visited {
    color: #999;
}

/* main
-------------------- */
/* 商品について */
#product {
    background: #F7F7F7; 
    /* background-color: var(--testColor); */
}
.product-area {
    display: flex;
    justify-content: space-around;
}
.product-area img {
    width: 350px;
}

/* スタッフ紹介 */
.staff-area {
    display: flex;
    justify-content: space-around;
}
.staff-area img {
    width: 350px;
}

/* 申し込みの流れ */
#request-flow {
    background: #F7F7F7;
    /* background-color: var(--testColor); */
}
.flow {
    display: flex;
}
.flow img {
    width: 250px;
}

/* アクセス */
iframe {
    width: 1100px;
    height: 450px;
}

/* お問い合わせ */
.contact-area {
    display: flex;
    justify-content: space-around;
}
.content {
    border-width: thin;
    border-style: solid;
    width: 500px;
    height: 250px;
    border-color: #ccc;
}
form {
    display: flex;
    flex-direction: column;
}
.form-item {
    border-bottom: thin;
    border-style: solid;
    border-color: #ccc;}

/* footer
-------------------- */
.footer-area {
    display: flex;
    justify-content: space-around;
    background: #F7F7F7;
    /* background-color: var(--testColor); */
}
.footer-title {
    line-height: 27px;
    font-size: 20px;
    border-bottom: medium;
    border-style: solid;
    border-color: #ccc;
}.footer-item {
    width: 400px;
}
.Copyright {
    background-color: #000;
    color: #fff;
}
#page-top {
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #000;
    color: #fff;
}